

<section class="image-upload-show-result">
  <h2>結果</h2>

  <%= form_tag("/new", method: "post") do %>
  　<div class="image-upload-show-words">
      <% @result.each_with_index do |word, i|  %>
        <div class="image-upload-words-wrapper">
          <span class="image-upload-words"><%= word %></span><br>
          <%= text_field_tag :"word#{i}" , word, style: "display:none;", class: "image-upload-edit-word" %>
          <a class="image-upload-word-edit" href="javascript:void(0);">edit</a>
          <a class="image-upload-block-delete" href="javascript:void(0);">delete</a>
        </div>
      <% end %>
    </div><!-- /mage-upload-show-words -->
    <p class="image-upload-submit"><%= submit_tag '翻訳する' %></p>
  <% end %>
</section>
<%= image_tag "http://img.learntecs.xyz/upload-images/" + @image.file %>
