<section class="image-upload-show-result">
  <div class="image-step-wrapper">
    <p class="image-step">①画像UP</p><span class="triangle"></span>
    <p class="image-step-current">②文字列</p><span class="triangle"></span>
    <p class="image-step">③翻訳</p>
  </div>
  <p class="image-uploaded"><%= image_tag "https://img.learntecs.xyz/#{@image.path}", :alt => @image.file.filename %></p>
  <p class="image-uploaded"><%= link_to "元の大きさで見る", @image.file.url, {target: "_blank"} %>
  <%= form_tag( trans_images_path, method: "post") do %>
  　<div class="image-upload-show-words">
      <% unless @result.nil? %>
        <% @result.each_with_index do |word, i|  %>
          <div class="image-upload-words-wrapper">
            <a class="js-image-upload-block-delete" href="javascript:void(0);">×</a>
            <span class="image-upload-words"><%= word %></span>
            <%= text_field_tag :"word#{i}" , word, style: "display:none;", class: "js-image-upload-edit-word" %>
          </div>
        <% end %>
      <% else %>
        <p class="image-no-result">画像から文字が読み取れませんでした。</p>
      <% end %>
    </div><!-- /mage-upload-show-words -->
    <p class="image-upload-submit"><%= button_tag '翻訳する' %></p>
  <% end %>
</section>
